{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="text-center">
            <h1 class="display-3">Contact </h1>
        </div>
    </div>
     <section id="login" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <!-- Center body-->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h5>Mobile number:</h5> 8010334555<br>
                            9868525176
                            </li>
                            <li class="list-group-item"><h6>E-mail</h6>singhalhemchand@gmail.com</li>
                            <a class="list-group-item" href="https://www.facebook.com/hemchand.singhal.79">Goto My Facebook Profile</a></li>
                            <li class="list-group-item"><h6>Address</h6>
                            <p>
                                Deepak Electricals, Molarband Main market, Badarpur, New Delhi-110044, Delhi
                            </p>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}